.ownHeader{
    background-color: #91ADA8;
    color: #0B110C;
}
body {
    background-color: #E4EDF0
}
.result {
    background-color: #91ADA8;
    font-size: 1.3em;
    font-weight: bold;
}


/*
80BC26
0B110C
2D3420
91ADA8
E4EDF0
*/